.info {
    color: #000 !important;
    background-color: #d0ecf7 !important
}

.content {
    color: #000 !important;
    background-color: #e7f5fb !important
}

.post {
    padding-top: 10px
}

 body {
     color: #000;
     background-color: #F5F5F5;
 }