<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Web forum{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    {% block style %}
    {% endblock %}
</head>

<body>

<nav>
    <a href="{{ url_for('category_index') }} ">Frontpage</a>
    {% if current_user.is_authenticated %}
        {% if current_user.has_role('admin') %}
            <a href="{{ url_for('admin_panel') }}">Admin panel</a>
        {% endif %}
        <a style="float:right" href="{{ url_for('auth_logout') }}">Sign out</a>
        <a style="float:right" href="{{ url_for('user_panel', user_id=current_user.id) }}">Logged in as {{ current_user.name }}</a>
    {% else %}
        <a style="float:right" href="{{ url_for('auth_login') }}">Login</a>
        <a style="float:right" href="{{ url_for('auth_create') }}">Register</a>
    {% endif %}
</nav>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="body">
    {% block body %}

    {% endblock %}
</div>

</body>
</html>
