{% extends "layout.html" %}

{% block body %}
    <form method="POST" action="{{ url_for('post_create', thread_id=thread_id) }}">
        <ul>
            {% for error in form.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <br/>
        <br/>
        {{ form.content.label }}
        {{ form.content }}
        <ul>
            {% for error in form.content.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <input type="submit" value="Submit reply"/>
    </form>
{% endblock %}
