{% extends "layout.html" %}
{% from "macros.html" import  with_errors %}

{% block title %}
    Add admin
{% endblock %}

{% block body %}
    {{ error }}
    <form method="POST" action="{{ url_for("admin_promote") }}">
        <table>
            <tr>
                <td>{{ form.username.label }}</td>
                <td>
                    {{ with_errors(form.username, style='font-weight: bold') }}
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}