{% extends "layout.html" %}
{% from "macros.html" import  with_errors %}

{% block title %}
    Register
{% endblock %}


{% block body %}
    <form method="POST" action="{{ url_for("auth_create") }}">
        <table>
            <tr>
                <td>{{ form.username.label }}</td>
                <td>
                    {{ with_errors(form.username, style='font-weight: bold') }}
                </td>
            </tr>
            <tr>
                <td>{{ form.password.label }}</td>
                <td>
                    {{ with_errors(form.password, style='font-weight: bold') }}
                </td>
            </tr>
            <tr>
                <td> {{ form.repeat_password.label }}</td>
                <td>
                    {{ with_errors(form.repeat_password, style='font-weight: bold') }}
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Create"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}