{% extends "layout.html" %}

{% block title %}
    {{ thread.title }}
{% endblock %}

{% block body %}
    <p id="thread.title">
        Title: {{ thread.title|striptags|title }}
    </p>
    <p id="thread.content">
        Content: {{ thread.content|striptags|wordwrap }} {# what about images/links? #}
    </p>

    <p id="posts"> {# todo: add username #}
        {% for post in posts %}
            <p id="post.id.{{ post.id }}">
                {{ user_datastore.find_user(id=post.account_id).username }}:
                {% if current_user.is_authenticated %}
                    {% if current_user.id == post.account_id or current_user.has_role("admin") %}
                        <a href="{{ url_for("post_edit", post_id=post.id) }}">Edit</a>
                        <a href="{{ url_for("post_delete", post_id=post.id) }}">Delete</a>
                    {% endif %}
                {% endif %}
            </p>
            <p id="post.content.{{ post.id }}">
                {{ post.content|striptags|wordwrap }}
            </p>
        {% endfor %}
    </p>

    <p>
        <a href="{{ url_for("post_new", thread_id=thread.id) }}">Reply</a>
    </p>
{% endblock %}